name: Main

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Update version
        run: bash ${GITHUB_WORKSPACE}/scripts/update-version.sh

      - name: Commit and Push
        uses: EndBug/add-and-commit@v9
        with:
          new_branch: main
          message: "Update version to ${{ github.ref_name }}"
          push: true
